.main-navigation {
  display: flex;
  justify-content: center;
  position: relative;
  &__logo {
    z-index: 3;
  }
  &__toggle {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
  }
  &__navigation-menu {
    position: absolute;
    top: 0;
  }
}
