.navigation-menu {
  width: 320px;
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__item{
    box-sizing: border-box;
    width: 320px;
    min-height: 55px;
    background-color: #81B3D2;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2), inset 0px 1px 0px rgba(255, 255, 255, 0.2);
  }
  &__item--logo {
    display: none;
  }
  &__item:first-child{
    box-shadow: 0px 1px 0px rgba(1, 1, 1, 0.2);
  }
  &__item:last-child{
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.2);
  }
  &__item:last-child::after{
    content: " ";
    width: 320px;
    height: 7px;
    z-index: 5;
    position: relative;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  }
  // &__logo--inner {
  //   display: none;
  // }
  &__link {
    color: #FFFFFF;
    display: block;
    width: 320px;
    padding-bottom: 12px;
    padding-top: 17px;
    text-decoration: none;
    }
  &__link:hover {
    color: #FFFFFF;
    background-color: #669EC0;
  }
  &__link:active {
    color: #FFFFFF;
    opacity: 0.3;
    background-color: #5496BD;
  }
  // &__link:visited {
  //   color: #FFFFFF;
  // }

}

@media (min-width: 768px) and (max-width: 1279px) {
  .navigation-menu {
    width: 768px;
    &__list {
      display: flex;
      flex-direction: row;
    }
    &__item {
      border: none;
      box-shadow: none;
      width: 153px;
      background-color: #FFFFFF;
    }
    &__item:first-child {
      box-shadow: none;
    }
    &__item--logo {
      display: block;
      position: relative;
    }
    &__logo--inner {
      position: absolute;
      top: 0;
      left: -16px;
    }
    &__link {
      font-family: 'PT Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 21px;
      text-transform: uppercase;
      color: #000000;
      box-sizing: border-box;
      width: auto;
      height: auto;
    }
    &__link:hover {
      color: #81B3D2;
      background-color: #FFFFFF;
    }
    &__link:active {
      color: #000000;
      opacity: 0.3;
      background-color: #FFFFFF;
    }
    &__link--current {
      color: #766357;
    }
    // &__link:visited {
    //   color: #000000;
    // }

    &__logo-inner {
      display: block;
      z-index: 5;

    }
  }
}

@media (min-width: 1280px) {
  .navigation-menu {
    width: 1200px;
    &__list {
      display: flex;
      flex-direction: row;
    }
    &__item {
      border: none;
      box-shadow: none;
      width: 240px;
      background-color: #FFFFFF;
    }
    &__item:first-child {
      box-shadow: none;
    }
    &__item--logo {
      display: block;
      position: relative;
    }
    &__logo--inner {
      position: absolute;
      top: 0;
      left: 27px;
    }
    &__link {
      font-family: 'PT Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 21px;
      text-transform: uppercase;
      color: #000000;
      box-sizing: border-box;
      width: auto;
      height: auto;
    }
    &__link:hover {
      color: #81B3D2;
      background-color: #FFFFFF;
    }
    &__link:active {
      color: #000000;
      opacity: 0.3;
      background-color: #FFFFFF;
    }
    &__link--current {
      color: #766357;
    }
    // &__link:visited {
    //   color: #000000;
    // }
    &__logo-inner {
      display: block;
      z-index: 5;

    }
  }
}
