.photo-block {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 1px solid #E5E5E5;
  &__heading {
    margin: 0;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
  }
  &__image {
    padding-top: 24px;
    order: -2;
  }
  &__author {
    margin: 0;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }
  &__likes-count {
    margin: 0;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    padding-bottom: 25px;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .photo-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    margin: 0;
    border: none;
    padding: 0;
    &__info-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
  .photo-block:first-of-type{
    width: 100%;
  }
}

@media (min-width: 1280px) {
  .photo-block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 33.33%;
    position: relative;
    margin: 0;
    border: none;
    padding: 0;
    &__info-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      bottom: 0;
      background-color: rgba(0,0,0,0.3);
    }
    &__image {
      padding: 0;
    }
    &__heading {
      color: #FFFFFF;
    }
    &__author {
      color: #FFFFFF;
    }
    &__likes-count {
      color: #FFFFFF;
    }
  }
  .photo-block:first-of-type{
    width: 100%;
  }
}
