.search-invite {

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  &__heading {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
  }
  &__description {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #333333;
    text-align: center;
  }
  &__link {
    width: 284px;
    height: 58px;
    padding-top: 16px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    box-sizing: border-box;
    background-color: #81B3D2;

  }
}
