.sedona-banner {

&__image {

  margin: 0 auto;
  padding-top: 90px;
  padding-left: 19px;
  padding-right: 19px;
  padding-bottom: 85px;
  background-color: #000000;
  background-image: url(../img/banner-back-mobile.jpg);

  }
}
