.site-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__hashtag-link {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
  }
  &__developer-link {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
  }
}
