.video-block {
  border-top: 1px solid #E5E5E5;
  &__heading {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
  }
  &__description {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;
  }
  &__video {
    padding-left: 20px;
    padding-right: 20px;
  }
}
